<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Team</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
  {# NOTE NAVBAR #}

  <header class="flex justify-between navbar">
    {# Logo / Name #}
    <div class="flex logo-container">
      <img id="nav-logo" src="../static/img/CodeCastlePNG.png" alt="Logo">
      <div class="nav-name">
        <h2>Castle</h2>
        <h2>Crusaders</h2>
      </div>
    </div>
    {# Tab selections #}
    <div class="flex justify-evenly align-center">
      <a class="nav-options" href="/">Home</a>
      <a class="nav-options" href="/merch">Merch</a>
      <a class="nav-options nav-selected" href="/team">The Team</a>
      <a class="nav-options" href="">Other</a>
    </div>
    {# Schedule Option/Login/Logout #}
    <div class="flex align-center">
      {% if "uuid" not in session %}
      <button class="nav-btns" id="modalBtn">Login/Register</button>
      {% else %}
      <form action="/logout">
        <button class="nav-btns">Logout</button>
      </form>
      {% endif %}
      {% if "admin" in session %}
      <button class="nav-btns">Admin Page</button>
      {% endif %}
      <button class="nav-btns">Schedule</button>
    </div>
  </header>

  <div class="home-banner team-banner">Our Apex Team Members</div>



  {# NOTE BODY CONTENT #}
  <main>
    <section class="flex align-center team-profile">
      <img class="profile-photo" src="../static/img/team/BH-Sil.png" alt="BloodHound Sil">
      <div>
        <header class="flex align-center justify-between profile-header">
          <div class="name-container flex align-center">
            <h1 class="profile-name-label">Name:</h1>
            <h1 class="profile-name">The Godsent Hunter</h1>
          </div>
          <img class="profile-logo" src="../static/img/apex-logo.png" alt="">
        </header>
        <h1 class="profile-bio-label">Bio:</h1>
        <p class="profile-bio">Bloodhound is a playable Legend in Apex Legends. A legendary game hunter shrouded in
          mystery, they compete in the Apex Games with the moniker "Technological Tracker." They are the first nonbinary
          character so far in Apex Legends.</p>
        <div class="flex align-center justify-between">
          <img class="profile-socials" src="../static/img/team/instagram-logo.png" alt="instagram logo">
          <img class="profile-socials" src="../static/img/team/youtube-logo.png" alt="youtube logo">
          <img class="profile-socials" src="../static/img/team/twitter-logo.png" alt="twitter logo">
        </div>
      </div>
    </section>

    <div class="pg-divide-blue"></div>

    <section class="flex align-center team-profile-r">
      <div>
        <header class="flex align-center justify-between profile-header">
          <div class="name-container flex align-center">
            <h1 class="profile-name-label">Name:</h1>
            <h1 class="profile-name">Holographic Trickster</h1>
          </div>
          <img class="profile-logo" src="../static/img/apex-logo.png" alt="">
        </header>
        <h1 class="profile-bio-label">Bio:</h1>
        <p class="profile-bio">Eliott Witt, also known by his alias Mirage, is a playable Legend in Apex Legends. As a
          competitor in the Apex Games, his moniker is "Holographic Trickster".
        </p>
        <div class="flex align-center justify-between">
          <img class="profile-socials" src="../static/img/team/instagram-logo.png" alt="instagram logo">
          <img class="profile-socials" src="../static/img/team/youtube-logo.png" alt="youtube logo">
          <img class="profile-socials" src="../static/img/team/twitter-logo.png" alt="twitter logo">
        </div>
      </div>
      <img class="profile-photo-r" src="../static/img/team/Mirage-Sil.png" alt="BloodHound Sil">
    </section>

    <div class="pg-divide-blue"></div>

    <section class="flex align-center team-profile">
      <img class="profile-photo" src="../static/img/team/Gib-Sil.png" alt="BloodHound Sil">
      <div>
        <header class="flex align-center justify-between profile-header">
          <div class="name-container flex align-center">
            <h1 class="profile-name-label">Name:</h1>
            <h1 class="profile-name">Gibraltar</h1>
          </div>
          <img class="profile-logo" src="../static/img/apex-logo.png" alt="">
        </header>
        <h1 class="profile-bio-label">Bio:</h1>
        <p class="profile-bio">Makoa Gibraltar, also known simply by his surname Gibraltar, is a playable Legend in Apex
          Legends. A Pacific Islander search-and-rescue specialist competing in the Apex Games, his moniker is "Shielded
          Fortress".</p>
        <div class="flex align-center justify-between">
          <img class="profile-socials" src="../static/img/team/instagram-logo.png" alt="instagram logo">
          <img class="profile-socials" src="../static/img/team/youtube-logo.png" alt="youtube logo">
          <img class="profile-socials" src="../static/img/team/twitter-logo.png" alt="twitter logo">
        </div>
      </div>
    </section>


  </main>

  <img class="team-apex-banner" src="../static/img/team/apex-banner-logo.png" alt="Apex Lengends Logo">

  {# NOTE FOOTER #}
  <footer class="flex footer-container justify-between">
    <section class="flex">
      <div class="flex flex-column footer-col">
        <h3 class='footer-title'>Store</h3>
        <a href="/merch" class="footer-lnk">Shop Collection</a>
        <a href="" class="footer-lnk">Team Wear</a>
        <a href="" class="footer-lnk">FAQ</a>
      </div>
      <div class="flex flex-column footer-col">
        <h3 class='footer-title'>Castle Crusaders</h3>
        <a href="" class="footer-lnk">Partnerships</a>
        <a href="" class="footer-lnk">Contact</a>
        <a href="" class="footer-lnk">About</a>
      </div>
      <div class="flex flex-column footer-col">
        <h3 class='footer-title'>About</h3>
        <a href="" class="footer-lnk">Made By: Adam Ubel</a>
        <a href="" class="footer-lnk">LinkedIn</a>
        <a href="" class="footer-lnk">Github</a>
      </div>
    </section>
    <div class="flex flex-column justify-center">
      <h2 class="footer-name">Castle<br>Crusaders</h2>
    </div>
  </footer>


  {# NOTE Log in and register areas #}

  <div id="myModal" class="l-r-modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 class="modal-info-title">Login Or Register</h2>
      <div class="home-register flex">

        <p class='login-info'>If you already Have an Account you can log in here to pick up where you left off,
          otherwise if
          you're new here, when you create an account on our site you'll automatically be signed up for future
          giveaways which include chances
          to
          win official merch and other prizes. You'll also be notified on when events get finalized and scheduled.
          Also
          accounts will be needed to make an online purchase on this site.
        </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flex flex-column align-center">
          {% for message in messages %}
          <p class="warning">{{message}}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class='login-container'>
          <h2 style="text-align:center;">Login:</h2>

          <form action="/verify/login" method='post' class='flex flex-column align-center'>
            <label class='form-l'>Email:</label>
            <input class='form-i' type="text" name="email">
            <label class='form-l'>Password:</label>
            <input class='form-i' type="password" name="password">
            <input type="submit" value="Login" class='form-btn'>
          </form>

        </div>

        <div class='register-container'>
          <h2 style="text-align:center;">Register:</h2>

          <form action="/verify/register" method='post' class='flex flex-column align-center'>
            <label class='form-l'>First Name:</label>
            <input class='form-i' type="text" name="first_name">
            <label class='form-l'>Last Name:</label>
            <input class='form-i' type="text" name="last_name">
            <label class='form-l'>Email:</label>
            <input class='form-i' type="text" name="email">
            <label class='form-l'>Password:</label>
            <input class='form-i' type="password" name="password">
            <label class='form-l'>Confirm Password:</label>
            <input class='form-i' type="password" name="confirm_password">
            <input type="submit" value="Register" class='form-btn'>
          </form>

        </div>
      </div>
    </div>

  </div>

  <script src="../static/js/team.js"></script>
</body>

</html>